<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JsonExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <JsonExtractor.Properties.Settings>
            <setting name="OleDbConnStr" serializeAs="String">
                <value>oledbConn</value>
            </setting>
            <setting name="OleDbQuery" serializeAs="String">
                <value>oledbquery</value>
            </setting>
            <setting name="lcasePropNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedProvider" serializeAs="String">
                <value />
            </setting>
            <setting name="OdbcConnStr" serializeAs="String">
                <value>odbcconn</value>
            </setting>
            <setting name="OdbcQuery" serializeAs="String">
                <value>odbcquery</value>
            </setting>
            <setting name="SqlConnStr" serializeAs="String">
                <value>sqlconn</value>
            </setting>
            <setting name="SqlQuery" serializeAs="String">
                <value>sqlquery</value>
            </setting>
            <setting name="CSVFileName" serializeAs="String">
                <value>csvFileName</value>
            </setting>
            <setting name="providers" serializeAs="String">
                <value>OleDbConnection;OdbcConnection;SqlConnection;Comma-separated values</value>
            </setting>
            <setting name="proptyNamesInQuotes" serializeAs="String">
                <value>False</value>
            </setting>
        </JsonExtractor.Properties.Settings>
    </userSettings>
</configuration>